__pycache__*
.vscode/*
data/*
anomaly_detection/models*
anomaly_detection/venv*
anomaly_detection/.vscode*
anomaly_detection/.devcontainer*
forecasting/models*
forecasting/venv*
forecasting/data*
forecasting/.vscode*
forecasting/.devcontainer*
*.csv
*.xlsx